.s-slide {
  align-items: center;
  background-color: rgb(16, 106, 0);
  box-shadow: inset -5px 0 0 rgb(255, 0, 0);
  display: flex;
  font-size: 4rem;
  font-weight: 900;
  justify-content: center;
  user-select: none;

  &-active {
    background: rgb(0, 128, 0);
  }
}

.s-slider {
  margin-bottom: 1rem;
}

.s-slider-1 {
  height: 200px;
}

.s-slider-3 {
  height: 300px;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
