.s-slide {
  background-color: rgb(16, 106, 0);
  border-right: 2px solid #f00;
  font-size: 5rem;
  font-weight: 900;
  padding: 2rem;
}

.s-slider {
  margin-bottom: 1rem;

  &-pagination {
    align-items: center;
    display: flex;

    &-bullets {
      align-items: center;
      display: flex;

      &-item {
        background: rgb(0, 0, 0);
        border-radius: 100%;
        color: #fff;
        height: 20px;
        padding: 0.2rem 0.5rem;
        text-align: center;
        width: 20px;

        &-active {
          background: rgb(0, 0, 255);
        }
      }
    }
  }
}
