.s-slide {
  background-color: rgb(16, 106, 0);
  border-right: 2px solid #f00;
  font-size: 5rem;
  font-weight: 900;
  padding: 2rem;

  &-active {
    background: rgb(0, 128, 0);
  }
}

.s-slider {
  margin-bottom: 1rem;
}
